* {
    margin: 0;
    padding: 0;
}
/* setup das variaveis*/
:root {
    --verde-fundo: #deece7;
    --branco-principal: #ffffff;
    --fonte-principal: "Lustria";
    --verde-principal: #5fb13b;
    --azul-principal: #0169b4;
    --verde-secundario: #313a22;
    --link: #0a4804;
    --preto-titulo: #000;
}
/* configurações do corpo como fontes e cores*/
body {
    background-color: var(--verde-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 400;
}

/*Configurações de efeitos do mouse */
a:link {
    text-decoration: none;
    color: var(--link);
}
a.cabecalho__botao:link {
    color: #fff;
}
a:visited {
    color: var(--branco-principal);
}
a:hover {
    text-decoration: underline;
    color: var(--azul-principal);
}
a:active {
    text-decoration: none;
}

/*estilo dos containers genericos*/
.container {
    margin-top: 50px;
    display: flex;
}